@font-face {
  font-family: "Caveat";
  src: url("../rsschool-cv/assets/fonts/Caveat/Caveat.ttf");
}
@font-face {
  font-family: "Caveat-bold";
  src: url("../rsschool-cv/assets/fonts/Caveat/static/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Mochiy";
  src: url("../rsschool-cv/assets/fonts/Mochiy_Pop_One/Mochiy.ttf");
}
@font-face {
  font-family: "Playwrite";
  src: url("../rsschool-cv/assets/fonts/Playwrite_ES_Deco/Playwrite.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Playwrite';
  background-color: bisque;
}

.header {
  font-family: "Caveat-bold";
  background-color: #ffab10;
}

.main {
  align-items: center;
  text-align: center;
}

.footer {
  background-color: #ffab10;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 30px;
  font-size: 20px;
  transition: 0.3s;
  font-size: 30px;
}

.nav-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item a:hover {
  color: #715FFC;
  font-size: 32px;
}

.main-container {
  flex-wrap: wrap;
  text-align: start;
}

.section {
  width: 50%;
  font-size: 20px;
  text-align: center;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.section-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.section-profile-title {
  text-align: center;
}

.main-title {
  font-size: 48px;
}

.main-prof {
  font-size: 30px;
}

ul {
  list-style: none;
}

code {
  font-size: 24px;
}

.gh-link {
  color: black;
  font-size: 24px;
  padding: 0 20px;
  text-decoration: none;
}

.gh-link:hover {
  transition: 0.5s;
  color: #715FFC;
}

.rss-link {
  display: block;
  width: 121px;
  height: 45px;
  background-image: url(../rsschool-cv/assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  @media (max-width: 460px) {
    .main-title {
      font-size: 34px;
    }

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
  }
  }
}